html, body {
    height: 100%;
    font-family: 'Poiret One', cursive;
}

body {
    background-image: url(../images/dark-blue.jpg);
    color: #f2f2f2;
}

#main {
    min-height: 100%;
}

#title {
    color: #f2f2f2;
    border-bottom: #f2f2f2 solid 5px;
}

#input {
    margin-top: 40px;
}

hr {
    color: #f2f2f2;
}

.click {
    width: 10%;
    font-size: 15px;
    text-decoration: none;
    color: mediumaquamarine;
}

a, a:active, a:hover, a:visited, .a, .a:active, .a:hover, .a:visited {
    text-decoration: none;
    color: mediumaquamarine;
}

a:hover {
    color: lightgray;
}

#firstCircle, #secondCircle, #thirdCircle {
    width: 100px;
    height: 100px;
}

input[type="text"], input[type="password"], textarea {
    background-color: mediumaquamarine;
    color: black;
    font-family: 'Dhurjati', sans-serif;
}


